@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;900&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: #ede;
}

::-webkit-scrollbar-thumb{
    background-color: #892bad;
    width: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
   background-color: #ac2edd;
}
:root{
    --color-primary: #64257c;
    --font-primary: 'Caveat';
    --font-secondary: 'Montserrat';
}
body h2{
    font-family: var(--font-primary);
    font-weight: 300;
}
body p{
    font-family: var(--font-secondary);
}
.body-hidden{
    overflow: hidden;
}
.container{
    max-width: 1600px;
    overflow: hidden;
}
.header{
    width: 97%;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 2%;
}

header{
    width: 100%;
    height: 5vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:space-between; 
    z-index: 10;
}

.contact>ul{
    list-style: none;
    display: flex;
    margin-left: 40px;
}
.contact>ul>li{
    margin-left: 5px;
    padding: 2px;
}
.contact>ul>li>a, i{
    text-decoration: none;
    font-size: 25px;
    color: var(--color-primary);
    transition: all .2s;
    margin: 2px;   
}

.backUl{
    transition: 3s;
    background-color: rgba(255, 255, 255, .9);
    border-bottom-left-radius: 25%;
    border-top-right-radius: 25%;
}
.backUl2{
    transition: 2s ease-in;
}
.contact>ul>li>a>i:hover{
    position:inherit;
    margin-top: 3px;
    color: #be13be;
}
.navMenu{
    width: 100%;
}
nav>ul>li{
    list-style: none;
    margin-top: 5px;
    padding: 17px;
    margin-bottom: 5px;
}
nav>ul>li:hover, nav>ul>li:hover > a {
    transition: .2s;
    background-color: var(--color-primary);
    color: white;
}
nav>ul>li>a {
    width: 100%;
    text-decoration: none;
    color: var(--color-primary);
    font-family: var(--font-secondary);
    font-size: 1.6rem;
    padding: 3px;
    padding-right: 15%;
    transition: .1s ease;
}
.hamburguer-menu{
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}
.menu-name{
    font-size: 1.2rem;
    font-family: var(--font-secondary);
    text-shadow: 0px 0px 3px black;
    margin-right: 5px;
    color: white;
    opacity: 1;
    text-transform: uppercase;
    transition: opacity .5s;
}
.menu-name-off{
   opacity: 0;
}
.hamburguer-div>div{
    width: 35px;
    height: 7px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: var(--color-primary);
    box-shadow: 0px 0px 5px white;
    transition: .5s;
}
.div1{
    transform: rotateZ(60deg);
    margin-bottom: -11px;
}
.div2{
    transform: rotateZ(-60deg);

}
.div3{
    display: none;
}

.containerMenu{
    right: 0;
    position: fixed;
    display: flex;
    top: 2rem;
    z-index: 1000;
}
.menu{
    width: 300px;
    height: 10px;
    display: flex;
    justify-content: center;
    margin-right: -320px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid var(--color-primary);
    transition:ease .5s;
    box-shadow: 3px 1px 5px black;
    opacity: 0;
    padding: 10px;
}
.menuOpen{
    margin-right: 0px;
    height: auto;
    opacity: 1;
}
.arrow-top{
    position: fixed;
    opacity: 0;
    z-index: 3000;
    bottom: 0;
    right: 24px;
    background-color: var(--color-primary);
    border-radius: 50%;
    border: 1px solid white;
    transition: .5s;
    cursor: pointer;
}
.arrow-top:hover{
    background-color: #940199;
}
.arrow-top .arrow{
    padding: 5px;
    
}
.arrow-top i{
    font-size: 1.7rem;
    color: white;
   
}
.btn-top-off{
    opacity: 1;
    transition: .5s;
    bottom: 20px;
}

.swiper-container {
    width: 100%;
    height: 100%;
  }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
        background: #64257c;
    }
    
    .swiper-container{
        margin-bottom: 30px;
    }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  .swiper-container {
    margin-left: auto;
    margin-right: auto;
  }

section{
    border-left: 25px solid;
    border-right: 25px solid; 
    border-top: 35px solid;
    border-bottom: 35px solid;
}
.section-height{
    height: 120vh;
}
.section-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--color-primary);
}
.listras{
    position: absolute;
    left: -10px;
    margin-top: -40%;
}
.image, .image-right{
    flex: 0.9;
}
.image{
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.image>img{
    height: 70%;
}
.title1{
    color: var(--color-primary);
}
.title2{
    color: #64b9e0
}
.section-sobre > .descricao{
    height: 100%;
    flex: 1;
}
.title{
    display: flex;
    margin-top: 20%;
    margin-bottom: 7%;
    font-size: 3.5rem;
}
.title h2{
    margin-left: 20px;
}
.paragrafo{
    font-size: 17px;
    line-height: 200%;
}
.paragrafo p{
    margin-top: 18px;
}
.image-right{
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}

#valores{
    max-height: 280px;
    width: 200px;
    margin-left: 20px;
    margin-top: 50%;
    transition: .5s;
}
#valores:hover{
    max-height: 330px;
    width: 290px;
}
#corujinha{
    max-height: 220px;
    width: 160px;
    margin-left: 100px;
    transition: .4s;
}
#corujinha:hover{
    filter: saturate(250%);
}
.section-low{
    height: 100vh;
}
.section-pedagogia{
    display: flex;
    border-color: rgb(170, 206, 12);
}
.section-pedagogia .listras{
    margin-top: 80px;
}
.section-pedagogia .image>img{
    max-height: 650px;
}
.section-pedagogia .descricao>.title{
    margin-left: -100px;
    margin-top: 70px;
    font-size: 4.5rem;
}
.section-pedagogia .descricao>.paragrafo{
    width: 72%;
    margin-top: 100px;
    margin-left: 80px;
}

.section-diferenciais{
    height: 80vh;
    display: flex;
    border-color: #64257c;
   
}
.container-left{
    height: 80%;
    width: 70%;
}
.title-diferenciais{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 7%;
    margin-bottom: 10%;
}
.title-diferenciais h2{
    font-size: 6rem;
    color: #64257c;
    margin-right: 80px;
}
.title-diferenciais img{
    width: 150px;
    height: 60px;
}
.container-icons{
    height: 40%;
    width: 70%;
}

.mySwiper2> .swiper-wrapper> .swiper-slide img{
    width: 60%;
    height: auto;
    margin: 0;
    padding: 0;
}
.mySwiper2> .swiper-wrapper> .swiper-slide img:hover{
    filter: saturate(190%);
   border-bottom: 2px solid var(--color-primary);
}
.swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: 0;
}
.container-modal{
    width: 100vw;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position:fixed;
    background-color: rgba(0, 0, 0, .5);
    z-index: 50;
    overflow-x: hidden;
    overflow-y: scroll;
    
}
.modal-on{
    display: flex;
    transition: .5s;
}
.modal-diferenciais{
    width: 50vw;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 60%;
    overflow-y: hidden;
    z-index: 1000;
    
}
.modal-diferenciais .head{
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(167, 166, 166);
}
.title-modal{
    text-transform: uppercase;
}
.head span{
    font-size: 29px;
    cursor: pointer;
}
.modal-diferenciais > .img{
    height: 80%;
    width: 95%;
    
}
.modal-diferenciais > .img img{
    width:100%;
    height: auto;
}
.modal-descrition{
    width: 95%;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(167, 166, 166);
}
.modal-descrition p{
    font-size: 22px;
    color: #333;
}
.button-fechar-modal{
    width: 95%;
    margin-bottom: 30px;
    display: flex;
    justify-content: end;
    
}
.button-fechar-modal button{
    font-size: 18px;
    padding: 5px;
    color: #333;
    cursor: pointer;
}

.img-circo{
    width: 100%;
}
.img-circo img{
    width: 50%;
}

.section-turmas{
    height: 140vh;
    border-color: #64b9e0;
}
.turmas-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-turmas h1{
    text-transform: uppercase;
    font-family: var(--font-secondary);
    font-size: 5rem;
    font-weight: bolder;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(170, 206, 12);
    margin-top: 7%;
    margin-bottom: -60px;
}
.section-turmas h2{
    font-size: 7rem;
    color: var(--color-primary);
    animation: brilho 5s infinite;
}
.section-turmas .desc-turmas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.desc-turmas > .logo, .desc, .horarios{
    flex: 1;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo:hover{
    animation: jump 2s linear infinite;
}
.desc-turmas > .desc{
    padding: 40px;
}
.desc-turmas > .desc p {
    line-height: 40px;
}
.desc ul{
    margin-left: 30px;
}
.desc ul li{
    line-height: 30px;
    margin-top: 10px;
    font-family: var(--font-secondary);
}
.desc ul li strong{
   color: rgb(39, 39, 39);
}
.horarios{
    margin-right: 10px;
}

@keyframes jump {
    0%{
        margin-top: 0;
    }
    30%{
        margin-top: -40px;
    }
    90%{
        margin-top: 20px;
    }
    100%{
        margin-top: 3px;
    }
}
@keyframes brilho {
    0%{
        text-shadow: 0 0 1px #be13be;
    }
    50%{
        text-shadow: 0 0 10px #be13be;
    }
    100%{
        text-shadow: 0 0 0px #be13be;
    }
}

.section-estrutura{
    height: 100vh;
    border-color: white;
    /* background-color: var(--color-primary); */
    background-image: linear-gradient(var(--color-primary), #750179);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-estrutura > .title{
    width: 100%;
    height: 10%; 
    margin-left: -20%;
    margin-right: 0;   
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.section-estrutura > .title img{
    margin-left: 5%;
    filter: brightness(100);
}
.container-galery{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -20%;
    margin-top: -15px;
 }
.galery{
    width:auto;
    display: flex;
    flex-wrap: wrap;
}
.galery-img{
    flex: 1;
}  
.container-galery .galery-high{
    height: 100%;
}
.container-galery .galery-high img{
    max-width: 60%;
    max-height: 200%;
    border-radius: 6%;
    box-shadow: 0 0 10px rgb(255, 126, 197);
}
.container-galery  .galery-low{
    height: 80%;
}
.galery-low .swiper-slide{
    width: 150%;
}
.galery-low .swiper-slide img{
    width: 160%;
    border-radius: 6%;
}
.mySwiper3{
    height: 40%;
    width: 70%;
}

.container-galery .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    margin-left: 150px;
}
.container-galery .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    margin-right: 150px;  
}
.img-menino{
    width: 26%;
    position: absolute;
    right: 0;
    margin-bottom: -250px;
}
.img-menino img{
    width: 100%;
}

.section-momentos{
    height: 100vh;
    border-color: white;
    border-top: 0;
    background-image: linear-gradient(#64b9e0, #3d8fb4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-momentos > .title{
    width: 100%;
    height: 10%; 
    margin-left: -20%;
    margin-right: 0;   
    margin-top: 40px;
    display: flex;
    justify-content: center;
    color: white;
}
.mySwiper5{
    height: 40%;
    width: 70%;
}
.section-momentos .container-galery{
    margin-left: 20%;
}
.section-momentos .container-galery .galery-high img{
    box-shadow: 0 0 10px white;
}
.img-criancas{
    width: 26%;
    position: absolute;
    left: 1.7%;
    margin-bottom: -242px;
    z-index: 100;
}
.img-criancas img{
    width: 100%;
}

.section-form{
    height: 110vh;
    display: flex;
    border-color: var(--color-primary);
}
.container-form{
    width: 70%;
    height: 80%;
}
.title-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-form img{
    position: absolute;
    left: 0;
    margin-top: -40px;
}
.title-form h2{
    font-size: 6rem;
    margin-top: 40px;
    color: var(--color-primary);
}
#conhecer{
    font-size: 4rem;
    font-weight: bolder;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(170, 206, 12);
    font-family:var(--font-secondary);
    text-transform: uppercase;
    margin-left: 5%;
    margin-top: 3%;
}
.form{
    width: 60%;
    margin-left: 10%;
}
.inputs-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input{
    width: 100%;
    margin-top: 10px;
}
input{
    width: 100%;
    height: 35px;
    padding: 5px;
    font-size: 1rem;
    font-family: var(--font-secondary);
    border-radius: 5px;
    border: 1px solid #64b9e0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::placeholder, textarea::placeholder{
    font-size: 1rem;
}
.input-duo{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.input-duo .input{
    width: 48%;
}
textarea{
    width: 100%;
    font-size: 1rem;
    font-family: var(--font-secondary);
    border-bottom-left-radius: 4%;
    border-top-right-radius: 4%;
    padding: 5px;
    border: 1px solid #64b9e0;
}
.verify{
    width: 40%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}
input[type="checkbox"]{
    width: 40px;
    margin-right: 23px;
    cursor: pointer;
}
label{
    width: 150%;
    font-size: 1.2rem;
    margin-left: -8%;
    font-family: var(--font-secondary);
    cursor: pointer;
}
#btn-enviar{
    height: 50px;
    font-size: 1.7rem;
    color: white;
    background-image: linear-gradient(var(--color-primary), rgb(151, 5, 180));
    cursor: pointer;

}
.btn-disable{
    filter: grayscale(10);
}




.img-form{
    width: 30%;
    bottom: 0;
    display: flex;
    align-items: flex-end;
}
.img-form img{
    width: 100%;
    bottom: 0;
    height: 80%;
}